.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.loginButtonWrapper {
  display: flex;
  justify-content: flex-end;
}
.registerWrapper {
  margin-left: 1.2rem;
}
